
  .mainSection{
    position: relative;
    top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    min-height:400px;
  }
  nav {
    width: 200px; /* Adjust as needed */
    padding: 20px; 
  }
  
  main {
    flex: 1;
  }