header {
  z-index: 100;
  padding-inline: 10px;
  height: 50px;
  position: fixed;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-template-areas: "logo title nav";
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 50px;
  -ms-grid-areas: "logo title nav";
  -ms-grid-column-align: center;
  border-bottom: 1px solid black;
}
header > img {
  height: 50px;
}
header > text {
  font-size: 1.5em;
}
header>section {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
}


footer {
  background: lightcoral;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 50px;
}
